*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
}


#test{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 200px;
    max-width: 500px;
    transform: translate(-50%, -50%);

}

.orb{
    transform: scale(0.5);
    
}

.orb-position{
    position: absolute;
    border: solid black 1px;
    
}


