*, *:before, *:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(58, 12, 58);
    height: 100vh;
    width: 100%;
}

.animation-container{
    position: relative;
    width: 500px;
    height: 500px;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    
}

.welcome-text{
    border: solid blue 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.front{
    
    
    border: solid yellow 1px;
   
  
}

.welcome-text img{
    margin-top: 2.5em;

}


#path-view{
    position: absolute;
    top: 50%;
    left:50%;
    min-width: 200px;
    max-width: 500px;
    transform: translate(-50%, -50%);
    opacity: 0;

}


.orb{
    transform: scale(0.4);
}

.orb-container{
    position:absolute;
    display: flex;
    top: -100%;
    left: -50%;
}



.centre{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.65);
    
}
.magic-text{
    transform: translate(-50%, -50%) scale(0.67);
}

.about-me-button:hover{
    filter: contrast(200%);
    cursor: pointer;
}